@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,700&display=swap');

:root {
  /*--pinku: #F3B4DA;*/
  --fonts: 'Josefin Sans', sans-serif;
  /*--greenBtn: #CEEB87;*/
  --pin: #ffe0e9;
  --white: #FFFFFF;
}

.order {
    box-sizing: border-box;
    position: absolute;
    width: 502px;
    height: 463px;
    left: 229px;
    top: 495px;
    background: rgba(196, 196, 196, 0.19);
    border-radius: 13px 13px 0px 0px;
    overflow: scroll;
  }

.text,
.price,
.count,
.text1 {
  font-weight: 600;
  font-size: 25px;
  line-height: 19px;
  color: white;
}
.text1{
  margin: -10% 0% 4% 79%;
  color: var(--whiteBtn);
}

.text {
  margin: 4% 0% 6% 5%;
  color: var(--whiteBtn);
}

.list {
  position: relative;
  left: 2%;
  right: 1%;
  display: grid;
  grid-template-columns: 0.5fr 5fr 0.3fr 0.2fr 0.9fr 0.5fr;
  font-weight: 600;
  font-size: 17px;
  line-height: 19px;
  color: white;
  gap: 0px 7px;
  max-width: 478px;
  align-items: center;
  justify-content: center;
  height: 2.8rem;
  background-color: transparent;
}
p{
  margin: 0;
}

.edit {
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
  }

  .editButton{
    background-color: transparent;
    border: none;
    width: fit-content;
    height: fit-content;
    margin: 0;
    box-shadow: none;
  }

  .icon{
    width: 1.8rem;
  }
  
  .subtotal{
    text-align: end;
  }

  .delete {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    width: fit-content;
    height: fit-content;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow: none;
  }

  .editButton:focus,
  .delete:active,
  .delete:focus{
    background: none;
    box-shadow: none;
  }
  

  .total{
    display: flex;
    background: rgba(196, 196, 196, 0.19);
    position: absolute;
    width: 502px;
    height: 82px;
    left: 229px;
    top: 960px;
    border-radius: 0px 0px 13px 13px;
    align-items: center;
    justify-content:space-between;
    font-weight: 600;
    font-size: 25px;
    line-height: 19px;
    color: white;
  }

  .totalText{
    margin: 0% 0% 0% 5%;
  }

  ul{
    padding: 0;
  }
  @media screen and (min-width: 834px) {

    .order{
      top: 525px;
      height: 514px;
      width: 530px;
      left: 275px;
    }

    .total{
      width: 530px;
      height: 115px;
      left: 275px;
      top: 1042px;
      font-size: 36px;
    }

.text,
.price,
.count,
.text1 {
  font-size: 31px;
}

.text1{
  margin: -10% 0% 4% 75%;
}

.list{
left: 2%;
max-width: 513px;
margin-bottom: 3%;
font-size: 21px;
}

}

@media screen and (min-width: 1180px) {
  .order{
    width: 53%;
    left: 44%;
    height: 55%;
    top: 33%;
  }

  .total{
    width: 53%;
    left: 44%;
    top: 89%;
  }
}
@media screen and (min-width: 1180px) {
  .order{
    top: 27%;
  }
  .total{
    top: 83%;
  }
}

@media screen and (min-width: 1280px) {
  .order{
    top: 33%;
  }
  .total{
    top: 89%;
  }
}